.trisection-image{
    width: 300px;
}

.tri-card{
    position: relative;
}

.tri-mask-2{
    position: absolute;
    height: 99%;
    width: 300px;
    background: black;
    opacity: 0.5;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.tri-mask{
    position: absolute;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tri-mask > h4{
    text-align: center;
    top: 60%;
    font-size: 2rem;
    color: #fff;
    z-index: 3;
}

.tri-card:hover{
    cursor: pointer;
}

.tri-mask-2:hover{
    transition: all 0.5s ease-in-out;
    opacity: 0;
}