.App{
  text-align: center;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px none; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

.checkout-wrapper{
  margin-top: 100px;
}

.orders-wrapper{
  margin-top: 100px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-lists{
  list-style: none;
}

.footer-lists>li{
  margin: 5px 0px;
}
